@model Dieter.Models.DetailsRecipeViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 col-lg-8">
            <img class="img-fluid rounded" src="@Html.Raw(Model.Recipe.ImgUrl)" style="max-height:444px;" />
        </div>
        <div class="col-12 col-md-5 col-lg-4">
            <h1>@Html.DisplayFor(model => model.Recipe.Name)</h1>
            <div id="categories">
                @foreach (var category in Model.Categories)
                {
                    <span class="badge rounded-pill bg-success">@category.Name</span>
                }
            </div>
            <hr />
            <h4 class="my-3">Składniki</h4>
            <div id="products">
                <ul class="list-group">
                    @foreach (var product in Model.Products)
                    {
                        @foreach (var recipeProduct in Model.RecipeProducts)
                        {
                            @if (recipeProduct.ProductId == product.Id)
                            {
                                  <li class="list-group-item">
                                        <input type="checkbox" class="form-check-input mx-3" id="@product.Name"/>
                                        @if(product.HideAmmounts == false)
                                        {
                                            <label for="@product.Name">@recipeProduct.Ammount @product.Name [@(recipeProduct.Ammount*100)g]</label>
                                        } 
                                        else
                                        {
                                            <label for="@product.Name">@recipeProduct.Ammount @product.Name</label>
                                        }
                                </li>

                            }
                        }
                    }
                    </ul>
                
            </div>
            <h5 class="my-3 fw-light">Szacowana ilość kalorii: @Model.kcalSum</h5>
        </div>
        <div class="col-12">
            <h4 class="my-3">Przygotowanie</h4>
            <div class="instruction">
                @Html.Raw(Model.Recipe.Description)
            </div>
        </div>
    </div>
</div>